@page "/Account/Settings/ChangePassword"

@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Razor.Pages.ChangePasswordPageModel

@{
    ViewData["Title"] = "Account Settings";
    Layout = "../../Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="mb-2 text-center fw-bold text-primary">Change Passowrd</h3>
    <p class="text-center text-muted mb-4 small">
        <span class="fw-semibold text-secondary"></span>
    </p>
    <b class="warning" id="WarningMessage">@TempData["message"]</b>

    <form method="post" asp-page-handler="ChangePassword">
        <label for="PreviousPassword">Previous password:</label><br>
        <input type="password" id="PreviousPassword" name="PreviousPassword"><br>
        <label for="NewPassword">New password:</label><br>
        <input type="password" id="NewPassword" name="NewPassword"><br>
        <label for="NewPasswordConfirm">Confirm password:</label><br>
        <input type="password" id="NewPasswordConfirm" name="NewPasswordConfirm"><br>
        <button id ="DeleteAccountButton" class="btn btn-lg btn-success m-1" type="submit">Change Password</button>
    </form>
</div>

