@page "/Account/Settings"

@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Razor.Pages.SettingsPageModel

@{
    ViewData["Title"] = "Account Settings";
    Layout = "../../Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="mb-2 text-center fw-bold text-primary">Account Settings</h3>
    <p class="text-center text-muted mb-4 small">
        <span class="fw-semibold text-secondary"></span>
    </p>
    <b class="warning" id="WarningMessage">@TempData["message"]</b>

    @if (User.Identity?.IsAuthenticated == true)
    {
        <div class="settings-item">
            <h4>Username</h4>
            <span class="settings-field uneditable-field">
                <p>@TempData["username"]</p>
            </span>
        </div>
        <div class="settings-item">
            <h4>Email</h4>
            <span class="settings-field uneditable-field">
                <p>@TempData["email"]</p>
            </span>
        </div>
    }

    @if (!Model.UsingOAuth)
    {
        <div class="settings-item">
            <h4>Password</h4>
            <p>
                Click the button below to change your current password.
            </p>
            <button id="ChangePasswordPageButton" class="btn btn-danger"
                onclick="window.location.href='/Account/Settings/ChangePassword';">
                Change Password
            </button>
        </div>
    }

    <div class="settings-item">
        <h4>Forget Me</h4>
        <p>
            Deleting your account is permanent and irreversible. All your data, including profile information,
            settings, cheeps, follows and likes will be immediately and permanently erased from our system.
            <strong>This action cannot be undone.</strong> Please be absolutely certain before proceeding.
        </p>
        <form method="post" asp-page-handler="DeleteAccount"
            onsubmit="return confirm('Warning: You are about to delete your account, this action cannot be undone. Are you sure?');">
            <button id="DeleteAccountButton" class="btn btn-lg btn-success m-1 btn-danger" type="submit">Forget
                Me!</button>
        </form>
    </div>
</div>

