@model (int cheepId, IReadOnlyList<Chirp.Core.Entities.ReplyDTO> replies, int numberOfRepliesShown)

@foreach (var reply in Model.replies.Take(Model.numberOfRepliesShown))
{
    <li class="replyContainer">
        <a href="/?author=@reply.Author">@reply.Author</a>
        @reply.Text
    </li>
}

@if (Model.replies.Count > Model.numberOfRepliesShown)
{
    <li class="collapsedReplies" style="display:none;">
        @foreach (var reply in Model.replies.Skip(Model.numberOfRepliesShown))
        {
            <div class="replyContainer">
                <a href="/?author=@reply.Author">@reply.Author</a>
                @reply.Text
            </div>
        }
    </li>

    <li>
        <a class="collapseButton">Show remaining replies</a>
    </li>
}