<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
</head>
<body>
<div class=page>
    <h1><a href="/" style="color: inherit; text-decoration: inherit;"><img src="/images/icon1.png" alt="Icon1"/>Chirp!</a></h1>
    <header>
        @if (User.Identity?.IsAuthenticated == true)
        {
            <form method="post" asp-controller="Account" asp-action="Logout">
                <button type="submit">
                    <i></i> Logout
                </button>
            </form>
            <a href="/cheep">Cheep</a>
        }
        else
        {
            <a href="@Url.Action("Login","Account")">Login</a>
            <a href="@Url.Action("Register","Account")">Register</a>
        }
    </header>

    <a href="/cheep">Cheep<a/>

    <div class=body>
            @RenderBody()
    </div>
    <div class=footer>
        Chirp &mdash; An ASP.NET Application
    </div>
</div>

</body>
@await RenderSectionAsync("Scripts", required: false)
</html>
