<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
</head>
<body>
<div class=page>
    <h1><a href="/" style="color: inherit; text-decoration: inherit;"><img src="/images/icon1.png" alt="Icon1"/>Chirp!</a></h1>
    <header>
        <br>
        @if (User.Identity?.IsAuthenticated == true)
        {
            <button onclick="window.location.href='/Account/Logout';">
                    Logout
            </button>
        }
        else
        {
            <button onclick="window.location.href='/Account/Login';">
                    Login
            </button>
            <button onclick="window.location.href='/Account/Register';">
                    Register
            </button>
        }
    </header>

    <div class=body>
            @RenderBody()
    </div>
    <div class=footer>
        Chirp &mdash; An ASP.NET Application
    </div>
</div>

</body>
@await RenderSectionAsync("Scripts", required: false)
</html>
